@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2rem;
    font-family: 'Poppins', sans-serif;
    background:#000000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300px;
}

.result img {
    object-fit: cover;
    width: 100%;
}

button {
    background-color: rgb(236, 247, 91);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}